<% current_user.rec_messages.each do |m| %>
  <li class="rec-message">
    <span class="rec-message-sender"><%= link_to m.sender.full_name, user_url(m.sender) %></span>
    <span class="rec-message-subject"><%= link_to m.subject, user_message_url(m.sender.id, m.id) %></span>
  </li>
<% end %>
