<h2>Your dummy</h2>

<%#= dummy.make_template %>
<% w = dummy.trim_width %>
<% h = dummy.trim_height %>

<% temp = "<div id='dummy'>" %>
<% temp += "<div class='dummy-page first-page' width='#{w}' height='#{h}'>" %>
<% temp += "</div>" %>

<% num = ("#{dummy.page_count}".to_i - 2)/2 %>

<% num.times do |i|
  temp += "<div class='dummy-spread'>"
  2.times { temp += "<span class='dummy-page'></span>" }
  temp += "</div>"
end %>

<% temp +="<div class='dummy-page last-page' width='#{w}' height='#{h}'>"
temp += "</div>"
temp += "</div>" %>

<%= temp %>