<%= form_for Comment.new, :url => post_comments_url(post), :remote => true, :html => {:class => "new-comment-form is-off"} do |f| %>

  <div>
  <%= f.text_area :content %>
  </div>

  <div class="new-comment-button">
  <%= f.submit "SUBMIT COMMENT" %>
  </div>

<% end %>
