<h3>Add your two cents:</h3>

<%= form_for @comment, :url => "/posts/#{@post.id}/comments" do |f| %>

  <div>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
  </div>

  <div>
  <%= f.submit "SUBMIT COMMENT" %>
  </div>

<% end %>