<h3>Add your two cents:</h3>

<%= form_for @comment, :url => post_comments_url(@post) do |f| %>

  <div>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
  </div>

  <div>
  <%= f.submit "SUBMIT COMMENT" %>
  </div>

<% end %>

<%# using this one %>