<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      <%= @sender_name %> has shared a project with you. <%= link_to "Check it out!", @link %>
    </div>
  </body>
</html>