<section class="user-about">
  <article class="user-about-location">
  	<span id="user-city"><%= profile.city %></span>
		<span id="user-state"><%= profile.state %></span>
		<span id="user-country"><%= profile.country %></span>
  </article>
  <article class="user-about-bio">
  	<%= profile.bio %>
  </article>
</section>