<section class="about-user">
  <article class="about-user-city">
  	<%= "#{profile.city}" %>
  </article>
  <article class="about-user-state">
  	<%= "#{profile.state}" %>
  </article>
  <article class="about-user-country">
  	<%= "#{profile.country}" %>
  </article>
  <article class="about-user-bio">
  	<%= "#{profile.bio}" %>
  </article>
</section>