<section class="about-user">
  <article class="about-user-location">
  	<%= profile.city %> <%= profile.state %> <%= profile.country %>
  </article>
  <article class="about-user-bio">
  	<%= profile.bio %>
  </article>
</section>