<h2><%= @user.first_name if @user.first_name %></h2>

<h3>Your profile</h3>

<div>
  <% @profile = @user.profile %>
  <%= link_to "Edit your profile", "/users/#{@user.id}/profile/#{@profile.id}/edit" %>
</div>