html, body, div, nav, a, h1, h2, h3, p, ul, li, form, button, input, textarea, span, small, header, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
	font-family: Futura;
}

body {
	font-family: Futura, Helvetica, Arial;
  background-color: #eee;
  color: #333;
}

h1 {
	font-family: Rokkitt;
	font-size: 32px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 24px;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
/*  font-family: Arvo;*/
  color: #1BBFE0;
	font-size: 16px;
}

label {
	font-size: 12px;
	text-transform: uppercase;
}

/*input {
	margin: 0px 0px 10px 0px;
	background-color: white;
	cursor: pointer;*/
/*	border: 1px solid #bbb;*/
/*	padding: 3px;*/
}
/*
input:hover {
	 color: #FF3300;
	 background-color: yellow;
}*/

/*form > div > input {
	border: 1px solid #FF7519;
}

form > div > input:focus {
	color: red;
	background-color: yellow;
	outline-color: white;
}*/

.button {
/*	background-color: white;*/
	width: 200px;
	height: 40px;
}

/*textarea {
  width: 500px;
  height: 100px;
	border: 1px solid #FF7519;
	font-size: 100%;
}

textarea:hover {
  color: #FF3300;
  background-color: yellow;
}

textarea:focus {
	color: red;
	background-color: yellow;
	outline-color: white;
}*/

.container {
	margin: 0px auto;
	padding: 50px 20px;
	width: 800px;
  background-color: white;
	box-shadow: 0px 0px 20px #ccc;
/*  float: left;*/
}

.photo {
	margin: 10px;
	padding: 10px;
	float: left;
	background-color: #ddd;
	border-radius: 5px;
}

a {
	text-decoration: none;
  color: #333;
}

.nav {
	color: #333;
/*  height: 25px;*/
	padding: 5px 0px 5px 0px;
	margin: 0;
  width: 100%;
  float: left;
  background-color: #999;
  box-shadow: 0px 2px 20px #bbb;
	font-size: 12px;
/*	border-bottom: 1px solid #b5b5b5;*/
}

.nav a {
	color: #333;
	text-transform: uppercase;
}

.nav a:hover {
	color: white;
}

.nav ul {
	float: right;
}

.nav li {
  float: left;
/*  background-color: green;*/
	list-style-type: none;
	margin: 0px 30px 0px 0px;
}

.nav:after {
	content: "";
	display: table;
	clear: both;
}

.user-avatar {
	float: left;
	margin: 0px 30px 20px 20px;
}

.user-about {
	margin: 20px;
}

.logo {
/*  float: left;*/
/*  font-family: "Arvo";*/
	font-size: 80px;
  line-height: 30px;
  color: #DDA;
}

.post {
  margin: 10px 0px 0px 0px;
  border: dotted 1px #AAA;
  padding: 10px;
  width: 500px;
  height: auto;
  display: block;
  overflow: hidden;
}


.footer {
  margin: 14px 0px 0px 0px;
  font-size: 12px;
  line-height: 20px;
  border-top: dotted thin #AAA;
}

.footer a:hover {
	 color: #FF3300;
	 background-color: yellow;
}

.post-avatar {
  float: left;
  margin: 0px 20px 0px 0px;
}

.post-user {
  color: #FF3300;
  font-size: 24px;
  margin: 0px 4px 0px 0px;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

/*

.posts li {
  list-style-type: none;
  margin: 0px 0px 8px 0px;
  font-size: 16px;
}

.comments li {
  margin: 8px 0px;
}



.footer a {
  color: black;
}

.footer span {
  padding: 0px 2px;
}

.footer span + span:before{
    content: "";
    padding: 0 10px;
}


.post-header {
  border-bottom: dotted 1px #AAA;
}

.post-avatar {
  float: left;
  margin: 10px;
}




.post-date {
  font-size: 12px;
  font-style: italic;
}

.comment-content {
  color: #FF7519;
  font-size: 18px;
}

.comment-date {
  font-size: 12px;
  font-style: italic;
}



