<% if current_user.friends.include?(user) %>
  <span class="friend">Friends!</span>
<% elsif !current_user.sent_requests.where(:recipient_id => user.id, :status => "made").empty? %>
  <span class="requested">Friend request for <%= user.full_name %> is pending.</span>
<% else %>
  <%= button_to "Make friend request", "/users/#{user.id}/friend_requests" %>
<% end %>