<% if !user.rec_requests.empty? %>
  <h3>friend requests</h3>
  You have friend requests from:
  <ul>
  <% user.rec_requests.each do |req| %>
    <li>
      <%= link_to req.sender.full_name, user_url(req.sender) %>
      <%= button_to "Accept", user_friend_request_url(req), :method => :put, :status => "accepted" %>
      <%= button_to "Reject", user_friend_request_url(req), :method => :put, :status => "rejected" %>
    </li>
  <% end %>
  </ul>
<% end %>