<section class="new-post-form">
  <h2>What's on your mind?</h2>

  <%= form_for Post.new do |f| %>

    <div>
    <%= f.text_area :content %>
    </div>

    <div class="button">
    <%= f.submit "BE HEARD" %>
    </div>

  <% end %>
</section>