<section class="new-post-form">
  <%= form_for Post.new, :remote => true do |f| %>

    <article>
    	<%= f.text_area :content %>
		</article>

    <article>
			<%= f.hidden_field :project_id, :value => project_id %>
    </article>

    <article class="button">
		  be heard
    </article>

  <% end %>
</section>