<section class="new-post-form">


  <%= form_for Post.new do |f| %>

    <article>
    	<%= f.text_area :content %>
		</article>

		<%# unless project_id.nil? %>
			<%= f.hidden_field :project_id, :value => project_id %>
		<%# end %>

    <article class="button">
    	<%= f.submit "BE HEARD" %>
		</article>

  <% end %>
</section>