.post {
  margin: 10px 0px 0px 0px;
  border: dotted 1px #AAA;
  padding: 10px;
  width: 500px;
  height: auto;
  display: block;
  overflow: hidden;
}

textarea {
  width: 500px;
  height: 100px;
}

.footer {
  margin: 14px 0px 0px 0px;
  font-size: 12px;
  line-height: 20px;
  border-top: dotted thin #AAA;
}

.post-avatar {
  float: left;
  margin: 0px 20px 0px 0px;
}

.post-user {
  color: #FF3300;
  font-size: 24px;
  margin: 0px 4px 0px 0px;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

/*

.posts li {
  list-style-type: none;
  margin: 0px 0px 8px 0px;
  font-size: 16px;
}

.comments li {
  margin: 8px 0px;
}



.footer a {
  color: black;
}

.footer span {
  padding: 0px 2px;
}

.footer span + span:before{
    content: "";
    padding: 0 10px;
}


.post-header {
  border-bottom: dotted 1px #AAA;
}

.post-avatar {
  float: left;
  margin: 10px;
}




.post-date {
  font-size: 12px;
  font-style: italic;
}

.comment-content {
  color: #FF7519;
  font-size: 18px;
}

.comment-date {
  font-size: 12px;
  font-style: italic;
}

