.post {
  margin: 0px 0px 10px -40px;
  border: dotted 1px #AAA;
  padding: 20px;
  width: 500px;
}

.posts li {
  list-style-type: none;
  margin: 0px 0px 8px 0px;
  font-size: 16px;
}

.comments li {
  margin: 8px 0px;
}

.footer {
  margin: 14px 0px 0px 0px;
  font-size: 12px;
/*  line-height: 20px;*/
/*  border-top: dotted thin #AAA;*/
}

.footer a {
  color: black;
}

.footer span {
  padding: 0px 2px;
}

/*.footer span + span:before{
    content: "";
    padding: 0 10px;
}
*/
.post-title {
  color: #FF3300;
  font-size: 24px;
  margin: 0px 4px 0px 0px;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

.comment-content {
  color: #FF7519;
  font-size: 18px;
}

.comment-date {
  font-size: 12px;
  font-style: italic;
}