html, body, div, nav, a, h1, h2, h3, p, ul, li, form, button, input, textarea, span, small, header, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: Futura;
	color: #333;
  background-image: url("ricepaper2.png");
/*  background-color: #eee;*/
}

.content {
  background-color: white;
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
  box-shadow: 0px 0px 30px #ccc;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	background-color: yellow;
}

img {
	border-radius: 10px;
}

h1 {
	font-size: 40px;
	font-family: Futura;
}

h2 {
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 0px 0px 8px 0px;
}

.container {
/*  background-color: white;*/
	width: 900px;
	margin: 40px auto;
}


/* nav */

.nav {
	background-color: white;
	font-size: 12px;
	text-transform: uppercase;
	padding: 15px 0px 0px 0px;
	width: 900px;
	margin: 0px auto;
/*	border-top: 1px solid #999;
	border-bottom: 1px solid #999;*/
}

.nav #logo {
/*	font-size: 102px;
	font-family: Rokkitt;
	color: #ccc;
	margin: auto;
	overflow: visible;
  white-space: nowrap;
	float: right;
	line-height: 110px;*/
	float: left;
	font-weight: bold;
}

.nav #logo:hover {
  background-color: yellow;
}

.nav ul {
	list-style: none;
	float: right;
/*	margin: 0px 30px 0px 0px;*/
}

.nav li {
	float: left;
	margin: 0px 0px 0px 25px;
/*	padding: 5px 0px;*/
}

.nav li:hover > .drop-down {
  display: block;
}

.nav:after {
	content: "";
	display: table;
	clear: both;
}

.drop-down {
  display: none;
  position: absolute;
  border: 1px solid #aaa;
  width: 250px;
  text-transform: none;
}

.drop-down > li {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #aaa;
  width: 240px;
}

.drop-down > li:last-child {
  border-bottom: none;
}

/* forms */

input {
	background-color: white;
  border: 1px solid #ccc;
}

textarea {
	width: 500px;
	height: 100px;
	border: 1px solid #aaa;
	border-radius: 10px;
}

#new_post .button {
  border: 0;
  color: red;
}

/* user show */

.user-show {
  background-color: red;
}

.user-avatar {
	float: left;
	margin: 0px 40px 20px 0px;
}

section .user-about {
	border-bottom: 2px dashed #ccc;
	padding: 0px 0px 20px 0px;
}

.user-about-location {
	font-style: italic;
	font-size: 14px;
	line-height: 36px;
}

#user-city:after {
	content: ", ";
}

#user-state:after {
	content: ", ";
}

.user-name {
	line-height: 30px;
}

/*.user-about-location {
	margin: 0px 0px 0px 40px;
}*/

.user-about-bio:before {
	content: 'â';
	font-size: 50px;
}

.user-about-bio {
	font-size: 20px;
	margin: 20px 0px 0px 0px;
	line-height: 30px;
}

.user-about:after {
	content: "";
	display: table;
	clear: both;
}

.user-show > .left {
	width: 500px;
	float: left;
	margin: 40px 70px 20px 0px;
  background-color: yellow;
}

.user-show > .right {
	width: 200px;
	float: left;
	margin: 40px 0px 20px 0px;
  background-color: blue;
}

/* users list */

.user-friends ul {
  list-style: none;
}

.user-friends a:hover {
  background-color: white;
}

/* new posts */

.new-post-form {
  margin: 0px 0px 30px 0px;
}

/* posts */

/*.post:after {
  content: "";
  display: table;
  clear: both;
}
*/
.post {
  margin: 25px 0px;
}

.post-avatar {
  float: left;
  margin: 4px 15px 0px 0px;
}

.post-user {
  font-size: 18px;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

.post-content {
  font-size: 14px;
}

.post-comments {
  margin-left: 50px;
}

.post > .footer {
  font-size: 12px;
  line-height: 30px;
}

/* comments */

/*.comment {
  clear: left;
}*/

.comments {
  list-style: none;
  margin: 0px 0px 0px 0px;
}

.comment {
  margin-top: 5px;
}

.comment-avatar {
  float: left;
  margin: 4px 15px 0px 0px;
}

.comment-user {
  font-size: 18px;
}

.comment-date {
  font-size: 12px;
  font-style: italic;
}

.comment-content {
  font-size: 14px;
}

.comment:after {
  content: "";
  display: table;
  clear: both;
}