html, body, div, nav, a, h1, h2, h3, p, ul, li, form, button, input, textarea, span, small, header, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: Futura;
	color: #333;
/*  background-image: url("ricepaper2.png");*/
/*  background-color: #eee;*/
}

.content {
  background-color: white;
  width: 1100px;
  margin: auto;
  padding-bottom: 50px;
/*  box-shadow: 0px 0px 30px #ccc;*/
}

.sidebar {
  float: right;
/*  background-color: green;*/
  width: 120px;
/*  height: 100%;*/
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	background-color: yellow;
}

img {
	border-radius: 10px;
}

h1 {
	font-size: 40px;
	font-family: Futura;
}

h2 {
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 0px 0px 8px 0px;
}

.container {
/*  background-color: white;*/
	width: 950px;
	margin: 40px auto;
}


/* nav */

.nav {
	background-color: white;
	font-size: 12px;
	text-transform: uppercase;
	padding: 15px 0px 0px 0px;
	width: 950px;
	margin: 0px auto;
/*	border-top: 1px solid #999;
	border-bottom: 1px solid #999;*/
}

.nav #logo {
/*	font-size: 102px;
	font-family: Rokkitt;
	color: #ccc;
	margin: auto;
	overflow: visible;
  white-space: nowrap;
	float: right;
	line-height: 110px;*/
	float: left;
	font-weight: bold;
}

.nav #logo:hover {
  background-color: yellow;
}

.nav ul {
	list-style: none;
	float: right;
/*	margin: 0px 30px 0px 0px;*/
}

.nav li {
	float: left;
	margin: 0px 0px 0px 25px;
/*	padding: 5px 0px;*/
}

.nav li:hover > .drop-down {
  display: block;
}

.nav:after {
	content: "";
	display: table;
	clear: both;
}

.drop-down {
  display: none;
  position: absolute;
  border: 1px solid #aaa;
  width: 250px;
  text-transform: none;
  background-color: white;
}

.drop-down > li {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #aaa;
  width: 240px;
}

.drop-down > li:last-child {
  border-bottom: none;
}

/* forms */

input {
  background-color: white;
  border: 1px solid #ccc;

  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
}

textarea {
	width: 425px;
	height: 90px;
	border: 1px solid #aaa;
	border-radius: 10px;

  padding: 5px;
  margin-bottom: 5px;
}

label {
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
}

input[type="submit"] {
  background-color: white;
  font-size: 14px;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: yellow;
}

/* user show */

.user-list {
  margin-bottom: 20px;
}

.user-list ul {
  list-style: none;
}

.user-list li {
  float: left;
  list-style: none;
/*  background-color: red;*/
}

.user-list a:hover {
  background-color: white;
}

.user-list:after {
  content: "";
  display: table;
  clear: both;
}

.user-news {

}

.user-show {
  background-color: white;
}

.user-avatar {
	float: left;
	margin: 0px 40px 20px 0px;
}

.user-avatar-blank {
  float: left;
  margin: 0px 40px 20px 0px;
  height: 300px;
  width: 200px;
  background-color: #ccc;
  color: #ddd;
  font-size: 200px;
  border-radius: 10px;
  border: 2px dotted #aaa;
  text-align: center;
}

.user-thumb {
  float: left;
  margin: 10px 10px 10px 0px;
}

section .user-about {
	border-bottom: 2px dashed #ccc;
	padding: 0px 0px 20px 0px;
}

.user-about-location {
	font-style: italic;
	font-size: 14px;
	line-height: 36px;
}

/*#user-city:after {
  content: ", ";
}

#user-state:after {
  content: ", ";
}
*/
.user-name {
	line-height: 30px;
}

/*.user-about-location {
	margin: 0px 0px 0px 40px;
}*/

.user-about-bio:before {
	content: 'â';
	font-size: 50px;
}

.user-about-bio {
	font-size: 20px;
	margin: 20px 0px 0px 0px;
	line-height: 30px;
}

.user-about:after {
  content: "";
  display: table;
  clear: both;
}

/*.user-show > .top:after {
  content: "";
  display: table;
  clear: both;
}*/

/*.user-show > .bottom:before {
  content: "";
  display: table;
  clear: both;
}*/
/*.user-show > .bottom {
  background-color: red;
}*/

.user-show > .left {
	width: 490px;
	float: left;
	margin: 40px 40px 20px 0px;
  background-color: white;
}

.user-show > .right {
	width: 300px;
	float: left;
	margin: 40px 0px 20px 0px;
  background-color: white;
}

/*.user-edit label {
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
}*/

/*.user-edit input {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
}*/

/*.user-edit textarea {
  padding: 5px;
  margin-bottom: 15px;
  padding: 5px;
}
*/
/* users list */

.user-friends ul {
  list-style: none;
}

/*.user-friends a {
  background-color: red;
  margin: 0;
}*/

.user-friends a:hover {
  background-color: white;
}

/* new posts */

.new-post-form {
  margin: 0px 0px 30px 0px;
}

/* posts */

/*.post:after {
  content: "";
  display: table;
  clear: both;
}
*/
.posts {

  margin-top: 10px;
}

.post {
  margin: 0px 0px 25px 0px;
}

.post-avatar {
  float: left;
  margin: 4px 15px 0px 0px;
}

.post-user {
  font-size: 18px;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

.post-content {
  font-size: 14px;
}

.post-comments {
  margin-left: 50px;
}

.post > .footer {
  font-size: 12px;
  line-height: 30px;
}

/* comments */

/*.comment {
  clear: left;
}*/

.comments {
  list-style: none;
  margin: 0px 0px 0px 0px;
}

.comment {
  margin-top: 5px;
}

.comment-avatar {
  float: left;
  margin: 4px 15px 0px 0px;
}

.comment-user {
  font-size: 18px;
}

.comment-date {
  font-size: 12px;
  font-style: italic;
}

.comment-content {
  font-size: 14px;
}

.comment:after {
  content: "";
  display: table;
  clear: both;
}

/* photos */

figure {
  float: left;
}

/* messages */

.rec-messages {
  margin: 20px 0px 50px 0px;
}

.rec-message {
  border-top: 1px dotted #aaa;
  padding: 10px 0px;
}

.rec-message-subject {
  position: absolute;
  left: 450px;
}

.rec-message-date {
/*  position: absolute;
  left: 1000px;*/
  float: right;
}

.sent-message-subject {
  position: absolute;
  left: 450px;
}

.sent-message-date {
/*  position: absolute;
  left: 700px;*/
  float: right;
}

.sent-message {
  border-top: 1px dotted #aaa;
  padding: 10px 0px;
}

/* projects */

figure {
  margin: 10px 10px 10px 0px;
}

.project-thumbnail-blank {
  float: left;
  width: 100px;
  height: 75px;
  background-color: #ccc;
  color: #ddd;
  font-size: 50px;
  border-radius: 5px;
  border: 2px dotted #aaa;
  text-align: center;
}

.projects:after {
  content: "";
  display: table;
  clear: both;
}

/* dummy */

.blank {
  float: left;
  border: 2px solid white;
  border-right: 0;
}

.first-page {
  float: left;
  border: 2px solid #ccc;
  margin-right: 10px;
}

.spread-page-r, .last-page {
  float: left;
  border: 2px solid #ccc;
  margin-right: 10px;
}

.spread-page-l {
  float: left;
  border: 2px solid #ccc;
  border-right: 0;
}

.dummy-page-text {
  margin-top: 20px;
  float: left;
  margin-right: 8px;
  text-align: center;
}

.page-update-form {
  float: left;
  margin-right: 4px;
/*  background-color: blue;*/
  text-align: center;
}

.page-update-form textarea {
  width: 90%;
  position: relative;
  margin-top: 20px;
  left: 3px;
/*  background-color: red;*/
}

.page-update-form.is-off, .dummy-page-text.is-off {
  display: none;
}

/*.page-update-form.is-on, .dummy-page-text.is-on {
  display: block;
}*/

#dummy {
  position: absolute;
  top: 0;
  left: 0px;
}

#dummy-text {
  position: absolute;
/*  top: 500px;*/
  left: 0px;
}

#dummy-with-text {
  overflow: hidden;
  position: relative;
}

#dummy p {
  padding: 10px;
}

#dummy-text p {
  padding: 10px;
}

#dummy .first-page, .spread-page-r p {
  text-align: right;
}

/* project photo sidebar */

.photo-thumb {
  margin: 0px 0px 15px 0px;
  float: right;
}



