body {
	margin: 0px;
	padding: 0px;
	font-family: "Futura";
/*  background-color: #DDD;*/
  color: #333;
}

.container {
	margin: 0px auto;
	width: 700px;
	padding: 0px 0px 0px 50px;
/*  background-color: yellow;*/
  float: left;
}

.button_to {
/*  background-color: blue;*/
}

a {
	text-decoration: none;
  color: #333;
}

nav {
	color: #333;
/*  background-color: #AAA;*/
/*  height: 40px;*/
	margin: 0;
  line-height: 30px;
  width: 180px;
/*  background-color: red;*/
  float: left;
}

nav div {
/*  clear: right;*/
 /* vertical-align: text-bottom;*/
}

nav a {
	color: #333;
}

nav li {
/*  float: left;*/
/*  background-color: green;*/
	list-style-type: none;
	margin: 0px 10px 0px 0px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
/*  font-family: Arvo;*/
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
/*  font-family: Arvo;*/
  color: #999;
}

.logo {
/*  float: left;*/
/*  font-family: "Arvo";*/
	font-size: 80px;
  line-height: 30px;
  color: #DDA;
}

