<section class="photo-thumbs-sidebar">
  <%= form_for image, :url => project_images_url(image.project), :html => { :multipart => true } do |form| %>
    <!-- <%= form.label :file, "add image to project" %> -->
    <div id="photo-attachment-container" class="sidebar-content">
      add file
      <div class="wrapper">
        <%= form.file_field :file, :class => "sidebar-file-field" %>
      </div>
    </div>
  <% end %>

  <% @already_used = [] %>
  <% images.each do |i| %>
    <article>
      <% if i.page_id.nil? %>
        <%= image_tag i.file.url(:thumb), :class => "photo-thumb draggable" unless i.file.url == "/images/missing.png" %>
      <% else %>
        <% @already_used << i %>
      <% end %>
    </article>
  <% end %>

  <%# @already_used.each do |image| %>
    <!-- <article class="photo-thumb draggable"> -->
      <%#= image_tag image.file.url(:thumb), :data => {:url => image.file.url} %>
    <!-- </article> -->
  <%# end %>
</section>

