<ul>
	<li><%= link_to "Home", user_url(current_user) %></li>
	<li><%= link_to "Edit profile", "/users/#{current_user.id}/profile/edit" %></li>
  <li><%= link_to "All users", users_url %></li>
	<li>
    <%= button_to "SIGN OUT", "/users/sign_out", :method => "delete" %>
	</li>
</ul>
